.navbar {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

.top-up-btn {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-up-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.points-display {
  font-weight: bold;
}