.profile-page {
  background: linear-gradient(135deg, #1f1f1f, #2c2c2c);
  border: 1px solid #333;
}
.profile-page h2 {
  color: #fff;
}
.profile-page p {
  color: #ccc;
}
.user-details p {
  margin-bottom: 0.5rem; /* Add some spacing between the details */
}

/* credify/src/css/nav.css */
.update-points-btn {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.update-points-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.send-points-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.send-points-form h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.send-points-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-points-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-points-btn:hover {
  background-color: #45a049;
}