.profile-page {
  background: linear-gradient(135deg, #1f1f1f, #2c2c2c);
  border: 1px solid #333;
}
.profile-page h2 {
  color: #fff;
}
.profile-page p {
  color: #ccc;
}
.user-details p {
  margin-bottom: 0.5rem; /* Add some spacing between the details */
}

/* credify/src/css/nav.css */
.update-points-btn {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.update-points-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}